<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css"/>
    <title>Document</title>
</head>
<body>
<header>
    <partial name="_Navbar"/>
    @RenderSection("Header", required: false)
</header>
<div class="container">

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<footer>
    Footer
    @RenderSection("Footer", false)
</footer>

<script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/js/popper.min.js"></script>
<script src="~/lib/jquery/jquery.min.js"></script>
<script src="~/lib/font-awesome/js/all.min.js"></script>
<script src="~/js/site.js"></script>
@await RenderSectionAsync("Scripts", required: false)

</body>
</html>